body {
    font-family: Georgia, sans-serif;
    background-color: #f8f8f8;
    color: LightSlateGray
}
h1 {
    color: mediumslateblue
}
p {
    font-size: 20px;
    line-height: 2.0;
}
a {
    color: navy;
    text-decoration: none;
}
img {
    margin-left: 20px;
    float: right
}
ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px
}
li {
    margin-bottom: 5px
}
hr {
    border: none;
    border-top: 1px solid #ccc
}

div#container {
    width: 700px;
    margin: 60px auto
}
